@page "{id:int?}"
@model MyScriptureJournal.Pages.Scriptures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scripture</h4>
    <hr />
    <dl class="display-content">
        <dd>
            <b>@Html.DisplayFor(model => model.Scripture.Book) @Html.DisplayFor(model => model.Scripture.Chapter) : @Html.DisplayFor(model => model.Scripture.Verses)</b>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Notes)
        </dd>
    <a  class="buttons" asp-page="./Edit" asp-route-id="@Model.Scripture?.Id">Edit</a>
    </dl>
    <a  class="link" asp-page="./Index">Back to List</a>
</div>
